 div{
    background-color: black;
    color: rgb(32, 253, 3);
    margin: 7px;
    padding: 7px;
  
    border: 7px solid blueviolet;
   border-radius: 10px 0px 10px 0px; 
   box-shadow: 30px 30px 40px 30px;
 }
 li{
    color: beige;
 }